extends layout

block content
	section#main.container-wrapper.index
		section.container.large-7.medium-6.small-12.columns.content
			.content-text
				.title
					| About Us
				.inner-content
					.subtitle
						span#lorem Lorem ipsum dolor sit amet consectetur
					.parragraph
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.sse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.subtitle
						span#ipsum Lorem ipsum dolor sit amet consectetur
					.parragraph
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		section.container.large-5.medium-6.small-12.columns.intro.content-image
			.fader(style="background-image: url('/images/generic/about.png')")
			.fader(style="background-image: url('/images/generic/juan.png')")
			.fader(style="background-image: url('/images/generic/cesar.png')")
			//
				<div id="additional" class="additional-options">
				<div class="blog-logo"></div>
				<div class="share">
				<ul>
				<li class="fa fa-facebook"></li>
				<li class="fa fa-twitter"></li>
				<li class="fa fa-facebook"></li>
				<li class="fa fa-twitter	"></li>
				</ul>
				</div>
				</div>
						
block footerScripts
	script(src='javascripts/jquery.mousewheel.js')
	script(src='javascripts/jscrollpane.min.js')
	script(src='javascripts/initParragraph.js')